@import '../variables';

body{
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $c-text;
}

.text{
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;

  &_gray{
    color: $c-text-grayDr;
  }
}

.text-big{
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;

  &_gray{
    color: $c-text-grayDr;
  }
}

.link{
  display: inline-block;
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;

  &_green{
    color: $c-text-green;
  }

  &:hover{
    color: $c-btn-green;
  }
}

.subtitle{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0;

  &_green{
    color: $c-text-green;
    text-transform: uppercase;
  }

  &_black{
    color: #232323;
    text-transform: none;
  }
}

.border{
  border: 0;
  box-shadow: 0 0 2px 0 rgba(23,23,23,0.1);
}

@media print {
  #print-page{
    display: none;
  }
}