/* mixins */

/* VERIABEL */

/* MEDIA */

/* FONTS */

/* BASE */

body {
  padding: 0;
  margin: 0;
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 1.6;
  color: #333333;
}

.text {
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;
}

.text_gray {
  color: #929594;
}

.text-big {
  font-family: "Open+ Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;
}

.text-big_gray {
  color: #929594;
}

.link {
  display: inline-block;
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 1.124rem;
  margin: 0;
  text-decoration: none;
}

.link_green {
  color: #4cb3af;
}

.link:hover {
  color: #4cb3af;
}

.subtitle {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
}

.subtitle_green {
  color: #4cb3af;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand .logo-svg {
  width: 48px;
  height: 45px;
  fill: #fff;
  transition: all 0.24s ease-in;
}

.navbar-brand:hover .logo-svg {
  fill: #1d2124;
}

.navbar {
  height: 64px;
  background-color: #4cb3af;
}

.navbar .dropdown-menu {
  transition: all 0.24s ease-out;
}

.navbar .dropdown-menu.show {
  margin: 0.85rem 0 0;
}

.navbar-light .navbar-nav .nav-link {
  display: inline-block;
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  padding: 0 0 0.25rem 0;
  box-shadow: 0 0 0 0 transparent;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
  box-shadow: 0px 2px 0px 0px #fff;
}

.navbar-light .navbar-nav li:not(:last-child) {
  margin-right: 0.85rem;
}

/* Pages */

/* Form */

/* Form */

.input__custom {
  display: block;
  width: 100%;
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.9rem;
  line-height: 1.124rem;
  padding: 0.85rem 0.75rem;
  border: 0;
  background-color: #e7ebea !important;
}

@media only screen and (max-width: 575.98px) {
  .input__custom {
    font-size: 0.75rem;
  }
}

.input__custom:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(206, 206, 206, 0.9);
}

.input__custom.disabled {
  pointer-events: none;
  background-color: #f8f8f8 !important;
}

.input__custom::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cbcecd;
}

.input__custom::-moz-placeholder {
  /* Firefox 19+ */
  color: #cbcecd;
}

.input__custom:-ms-input-placeholder {
  /* IE 10+ */
  color: #cbcecd;
}

.input__custom:-moz-placeholder {
  /* Firefox 18- */
  color: #cbcecd;
}

table .input__custom:focus {
  box-shadow: 0 0 0 0.1rem rgba(206, 206, 206, 0), inset 0 0 0 0.1rem rgba(206, 206, 206, 0.9);
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #4cb3af;
  border-radius: 0.25rem;
}

.custom-control-label {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #4cb3af;
  background-color: #f8f9fa;
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:not(:disabled):not(.disabled).active:focus,
.show > .btn-light.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0);
  outline: none !important;
}

.btn-custom {
  display: inline-block;
  font-size: 0.85rem;
  font-family: "Open+ Sans", sans-serif;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.0525rem;
  text-align: center;
  padding: 0.75rem 2rem;
  border-radius: 1.25rem;
  transition: 0.24s ease-out;
}

.btn-custom:focus,
.btn-custom:active {
  outline: none;
  box-shadow: none;
}

.btn-custom_white {
  color: #fff;
  border: 0.2rem solid #fff;
  background-color: transparent;
}

.btn-custom_white:hover {
  background-color: rgba(23, 23, 23, 0.05);
  text-decoration: none;
}

.btn-custom_green {
  color: #fff;
  border: 0.2rem solid transparent;
  background-color: #4cb3af;
}

.btn-custom_green:hover {
  text-decoration: none;
  color: #4cb3af;
  border-color: #4cb3af;
  background-color: transparent;
}

.btn-custom_yellow {
  color: #fff;
  border: 0.2rem solid transparent;
  background-color: #fbcf46;
}

.btn-custom_yellow:hover {
  text-decoration: none;
  color: #fbcf46;
  border-color: #fbcf46;
  background-color: transparent;
}

.btn-custom_green-br {
  color: #4cb3af;
  border: 0.2rem solid #4cb3af;
  background-color: transparent;
}

.btn-custom_green-br:hover {
  text-decoration: none;
  color: #fff;
  background-color: #4cb3af;
}

.table__header {
  background-color: #f8f8f8;
}

.table__header_text {
  font-family: "Open+ Sans", sans-serif;
  font-size: 0.85rem;
  line-height: 1.124rem;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
  color: #333333;
  background-color: #f8f8f8;
  border: 1px solid #fff;
}

/* Modules */

/* Modules */

.pop_up_in {
  display: block;
  max-width: 740px;
  width: 100%;
  min-height: 460px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 9;
  overflow: hidden;
}

.pop_up_body {
  width: 100%;
  min-height: 460px;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.pop_up_body .shade,
.pop_up_body .nav-pop_up,
.pop_up_body .sign-in,
.pop_up_body .sign-add {
  position: absolute;
  top: 0;
  height: 460px;
  z-index: 1;
}

.pop_up_body .shade,
.pop_up_body .nav-pop_up,
.pop_up_body .sign-in {
  left: 0;
}

.pop_up_body .sign-add {
  right: 0;
}

.pop_up_body .shade,
.pop_up_body .nav-pop_up {
  z-index: 2;
  width: 20%;
  height: 100%;
  left: 0;
  background-color: #4cb3af;
}

.pop_up_body .sign-in {
  width: 40%;
  left: 20%;
  background-color: #f4f4f4;
}

.pop_up_body .sign-add {
  width: 40%;
  right: 0;
  background-color: #ffffff;
}

.pop_up_body .wr-btn {
  display: block;
  /* Form show */
  height: 80px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-25%);
}

.pop_up_body .wr-btn .header-form {
  line-height: 2;
  color: #333333;
}

.pop_up_body .wr-content-form {
  width: 100%;
  height: 100%;
  padding: 80px 40px 20px;
  display: none;
  /* Form show */
  white-space: nowrap;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 575.98px) {
  .pop_up_body .wr-content-form {
    padding: 80px 20px 20px;
  }
}

.pop_up_body input {
  padding-right: 40px;
  transition: top 0.4s ease;
}

.pop_up_body input[name=name] {
  background-color: #e7ebea;
  background-image: url(/images/icon_name.svg?a73a6924f004800a71fc95d8dc967e78);
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) center;
  background-size: 17px;
}

.pop_up_body input[name=email] {
  background-color: #e7ebea;
  background-image: url(/images/icon-email.svg?0ace76f4fbaaec46bb54a973da0c0008);
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 22px;
}

.pop_up_body input[name=password],
.pop_up_body input[name=password_confirmation] {
  background-color: #e7ebea;
  background-image: url(/images/icon_password.svg?23bf4e81aabadf18840ae889004f97d9);
  background-repeat: no-repeat;
  background-position: calc(100% - 17px) center;
  background-size: 17px;
}

.pop_up_body .myd-btn {
  padding: 14px 50px;
  position: relative;
  transition: all 0.3s ease;
}

.pop_up_body .wr-captcha {
  position: relative;
}

.nav-pop_up {
  padding-top: 80px;
  padding-bottom: 40px;
}

.nav-pop_up .wr-content-nav {
  text-align: center;
}

.nav-pop_up .wr-nav {
  display: block;
  width: 100%;
  cursor: pointer;
}

.nav-pop_up .wr-nav:hover > .icon-arrow_popup,
.nav-pop_up .wr-nav:active > .icon-arrow_popup {
  fill: #545c68;
}

.nav-pop_up .wr-dots {
  padding-top: 60px;
}

.nav-pop_up .wr-dots ul {
  list-style: none;
  padding: 0;
}

.nav-pop_up .wr-dots li {
  margin-bottom: 20px;
}

.nav-pop_up .wr-dots li.active i {
  background-color: #fff;
}

.sign-in,
.sign-add {
  position: relative;
  overflow: hidden;
}

.sign-in .footer-form,
.sign-add .footer-form {
  font-size: 0;
  text-align: left;
  line-height: 46px;
  margin: 20px 0 10px;
}

.sign-in .footer-form > a,
.sign-in .footer-form > buttom,
.sign-add .footer-form > a,
.sign-add .footer-form > buttom {
  font-family: "OpenSans SemiBold", sans-serif;
  display: inline-block;
  font-size: 11px;
  color: #f48076;
}

.sign-in .footer-form > a,
.sign-add .footer-form > a {
  text-align: right;
  text-decoration: underline;
}

.sign-in .footer-form > a:hover,
.sign-add .footer-form > a:hover {
  text-decoration: none;
}

.header-form {
  font-family: "OpenSans SemiBold", sans-serif;
  font-size: 0.85rem;
  line-height: 1rem;
  font-weight: 600;
  color: #545c68;
  text-align: left;
  text-transform: uppercase;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 575.98px) {
  .header-form {
    font-size: 0.75rem;
  }
}

.icon-arrow_popup {
  width: 18px;
  height: 18px;
  display: block;
  margin: auto;
  fill: #fff;
  transition: all 0.15s ease-out;
}

i.popup-dots {
  width: 9px;
  height: 9px;
  display: block;
  border-radius: 50%;
  margin: auto;
  background-color: #545c68;
  transition: all 0.3s ease-out;
  /*	&:hover,
   &:active{
    background-color: $c-popud-dots2;
   }*/
}

i.btn-sign-in {
  width: 27px;
  height: 18px;
  display: block;
  margin: auto;
  background: url(/images/icon_arrow_popup.svg?e60c35bd0d043d79f1fe205a1c54206c) no-repeat center;
}

i.icon-sign-in {
  width: 55px;
  height: 55px;
  display: block;
  margin: auto;
  background: url(/images/icon_sing_in.svg?edbc1d0a2e86e83a71723472d4b67b50) no-repeat center/contain;
}

i.icon-sign-add {
  width: 55px;
  height: 55px;
  display: block;
  margin: auto;
  background: url(/images/icon_sing_up.svg?ab35bb94201ac991876f9b38ff38861d) no-repeat center/contain;
}

.wr-btn.small-icon {
  position: relative;
  top: 30px;
  transition: all 0.3s ease;
  transform: translateY(0);
}

.card {
  border: 0;
  box-shadow: 0 0 9px 0 rgba(47, 47, 47, 0.1);
  transition: all 0.24s ease-out;
}

.card:hover {
  box-shadow: 0 0 12px 0 rgba(76, 179, 175, 0.3);
}

.card-footer,
.card-header {
  background-color: rgba(76, 179, 175, 0.1);
}

.card-header {
  border-bottom: 1px solid rgba(47, 47, 47, 0.05);
}

.card-footer {
  border-top: 1px solid rgba(47, 47, 47, 0.05);
}

