.card{
  border: 0;
  box-shadow: 0 0 9px 0 rgba(47, 47, 47, 0.1);
  transition: all 0.24s ease-out;

  &:hover{
    box-shadow: 0 0 12px 0 rgba(76, 179, 175, 0.3);
  }
}

.card-header{
  background-color: rgba(76, 179, 175, 0.1);
  border: 0;
}