#js-alternative .DynamicExtraField{
  display: none;
}

.doughnutChart{
  position: relative;
  min-height: 400px;
}

.chart {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 70%;
  left: 50%;
  margin: -225px 0 0 -225px;

  svg {
	width: 100%;
	height: 100%;
  }

  svg > path {
	fill: rgba(47,47,47,0.10);
  }
}
.doughnutTip {
  position: absolute;
  min-width: 30px;
  max-width: 300px;
  padding: 5px 15px;
  border-radius: 1px;
  background: rgba(0,0,0,.8);
  color: #ddd;
  font-size: 17px;
  text-shadow: 0 1px 0 #000;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  pointer-events: none;
  &::after {
	position: absolute;
	left: 50%;
	bottom: -6px;
	content: "";
	height: 0;
	margin: 0 0 0 -6px;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	border-top: 6px solid rgba(0,0,0,.7);
	line-height: 0;
  }
}
.doughnutSummary {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #232323;
  text-align: center;
  cursor: default;
  display: flex;
}
.doughnutSummaryTitle {
  font-size: 1rem;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}
.doughnutSummaryNumber {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}

.chart path:hover { opacity: 0.65; }

.sc-column{
  overflow-x: visible;
}

#chart-container{
  overflow-x: auto;
  overflow-y: hidden;

  display: flex;
  justify-content: center;
}

.orgchart{
  width: 100%;
  background-image: none;
  padding: 0;

  position: relative;
}

.orgchart .node .title{
  background-color: rgba(76, 179, 175, 0.85);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgchart .node .content{
  border: 1px solid rgba(76, 179, 175, 0.85);
}

.orgchart .lines .rightLine,
.orgchart .lines .leftLine{
  border-color: rgba(76, 179, 175, 0.85);
}

.orgchart .lines .downLine{
  background-color: rgba(76, 179, 175, 0.85);
}

.orgchart .node .content{
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}

.chart-container{
  display: flex;
  justify-content: center;
}

#chart-container-2 .orgchart:before{
  content: '';
  height: 2px;
  width: calc(100% - 126px);
  background-color: rgba(76, 179, 175, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#chart-container-2 .orgchart{
  transform: translateY(-23px);
}